@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jacques+Francois&display=swap');

/* MAIN SETTINGS */

* {
    /*# COLORS */
    --MAIN: #2E2E2E;
    --SECONDARY: #FFFFFF;

    /*# FONTS */
    --MAIN-FONT: "Jacques Francois";
    --ART-FONT: "Indie Flower";
}

img {
    display: block;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    color: var(--SECONDARY);
    grid-template-areas: 
     "hd"
     "mn"
     "ft";   
     grid-template-rows: 150px 1fr 100px;
}   

header {
    grid-area: "hd";
    background-color: var(--MAIN);
}

main {
    margin: 50px 10px 50px 10px;
    grid-area: "mn";
    background-color: var(--SECONDARY);
}

footer {
    grid-area: "ft";
    background-color: var(--MAIN);
}

h1 {
    line-height: 1.3;
    font-family: var(--MAIN-FONT);
    font-size: 2.5rem;
    text-align: center;
}

input[type="radio"] {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: url(img/skull-radio-360x360.jpg) left center no-repeat;    
    background-size: cover; 
    vertical-align: bottom;
    cursor: pointer;
}

input[type="radio"]:checked {
    background: url(img/skull-radio-red-360x360.jpg) left center no-repeat;
    background-size: cover; 
}

.questions {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}

.question {
    padding: 0 10px 10px 10px;
    background-color: var(--MAIN);
    color: var(--SECONDARY);
    min-height: 80px;
    height: fit-content;
}

.art-text {
    font-family: var(--ART-FONT);
    font-size: 1.4em;
    display: block;
}

.quote {
    font-style: italic;
}

.centered-resized {
    width: min(500px, 80%);
    margin: auto;
}

/* INDIVIDUAL THINGS */
#logo {
    margin: 10px 0 0 10px;
    position: absolute;
    max-width: min(112.5px, 10%);
    height: auto;
}

#hero-gif {
    max-width: 100%;
    height: auto;
}